body {
  font-family: Arial, sans-serif;
  max-width: 85vw;
  margin: auto;
  padding: 20px;
}

input,
select,
button {
  margin: 5px;
  padding: 8px;
  width: 100%;
}

h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button[type="submit"] {
  background: #007bff;
  color: white;
}

button[type="submit"]:hover {
  background: #0056b3;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-green:hover {
  background-color: darkgreen;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover {
  background-color: darkred;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f9f9f9;
  border-radius: 5px;
}

.task-header {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.task-status {
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
}

.task-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task-buttons button {
  flex: 1;
  padding: 10px;
  margin: 0 2px;
}

.task-container {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 60%;
  margin: auto;
}

.task-container h2 {
  color: #333;
  text-align: center;
}

.task-container p,
.task-container ul {
  font-size: 16px;
}

.task-container ul {
  list-style-type: square;
  padding-left: 20px;
}
